@charset "UTF-8";
.lt_main {
  display: flex;
}
.lt_category_l {
  flex-basis: 90px;
  position: relative;
  overflow: hidden;
  background-color: #f3f4f5;
}
.lt_category_l a {
  display: block;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #666;
}
.lt_category_l li.now a {
  border-right: none;
  background-color: #fff;
}
.lt_category_l li:last-child a {
  border-bottom: none;
}
.lt_category_r {
  position: relative;
  flex: 1;
}
.lt_category_r .content {
  display: flex;
  flex-wrap: wrap;
}
.lt_category_r .item_box {
  width: 33%;
}
.lt_category_r .item {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block;
  text-align: center;
}
.lt_category_r .item img {
  width: 60px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
